.Collapsible {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  background: white;
  border: 1px solid #e8e8e8;
  padding: 1.3rem;
  max-width: 100rem;
  border-radius: 22px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  background-color: #6b6b6b;
  span {
    margin: 0 auto;
  }
  div {
    color: #ffffff
  }
}

.Collapsible__trigger {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Collapsible__trigger.is-open {
  justify-content: flex-end;;
}
