.title-bar {
  display: block;
  background: #ffffff;
  color: black;
  font-family: 'Lato';
}

.title-bar__circle {
  background-color: #3d46ff;
  border-radius: 25px;
  height: 2.8rem;
  width: 2.8rem;
  margin: .2rem;
  margin-top: .5rem;
}
.title-bar__title {
  display: inline-flex;
  font-size: 3rem;
      margin-left: 2rem;
}
