.w0rd {
  display: flex;
  align-content: center;
  font-size: 3.0rem;
  background: white;
  border: 1px solid #e8e8e8;
  margin: 1.05rem;
  padding: 1.3rem;
  min-width: 20rem;
  min-height: 15rem;
  border-radius: 5px;

  p {
    align-self: center;
    margin: 0 auto;
  }
}
